/********** RESET **************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    color: #f7ead1;
}

/************* COMMON *************/

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

a, button {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
